.article {
  margin-top: 60px;
  padding: 40px;
  border: 1px solid $border-color;
  background-color: #fff;

  &:first-child {
    margin-top: 0;
  }

  h1 a {
    color: inherit;
    text-decoration: none;

    &:focus,
    &:active,
    &:hover {
      color: $color-primary;
    }
  }
}

.article-publish-date {
  color: desaturate(lighten($color-secondary, 40%), 80%);
}
