.column.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 10%;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';

  @include respond-to($desktop) {
    position: fixed;
    height: 100vh;
    width: $header-width;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
    padding: 0 20px 40px;
    margin-left: 1rem;
  }
}

.logo-image {
  max-width: 15%;
  display: block;
  border-radius: 100%;
  overflow: hidden;

  img {
    display: block;
    border: 1px solid #000;
  }

  @media screen and (min-width: $mobile-breakpoint) {
    margin: 88px auto 30px;
    max-width: 80%;
  }
}

.menu-toggle {
  margin-bottom: 0;

  @include respond-to($desktop) {
    display: none;
  }
}

.menu-toggle-checkbox {
  @include visually-hidden();
}

.menu {
  flex-basis: 100%;
  margin-top: 10px;
  border-top: 1px solid $border-color;

  .menu-toggle-checkbox:not(:checked) + & {
    @include respond-to($mobile) {
      @include visually-hidden();
    }
  }

  @include respond-to($desktop) {
    flex-basis: auto;
    border-top: none;
    margin-top: 60px;
  }

  ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 0;

    li {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
    }
  }
}
