@import 'font-face';
@import 'normalize';
@import 'variables';
@import 'milligram/milligram';
@import 'mixins';

@import 'header';
@import 'main';
@import 'article';
@import 'pagination';

:root {
  font-size: 0.8vh;

  @media (max-height: 1200px) {
    font-size: 10px;
  }

  @media (min-height: 1828px) {
    font-size: 20px;
  }
}

main {
  @include respond-to($desktop) {
    margin: 0 auto;
    width: 80%;
  }
}

.pagination {
  padding: 40px;
}
