	<article class="article {{if .Params.prose }}prose{{ end }}">
		<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
		{{ range .Params.tags }}
		<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
		{{ end }}
		<div class="article-content">
			{{ if .Params.no_truncate }}
				{{ .Content }}
			{{ else }}
				{{ .Summary }}
				{{ if .Truncated }}
					<a href="{{ .Permalink }}">Read more...</a>
				{{ end }}
			{{ end }}
		</div>
		<time class="article-publish-date">{{ .Date.Format "02.01.2006" }}</time>
	</article>
